@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Mãe Conecta: Sua Companhia na Jornada da Maternidade!</h1>
    <p class="lead">É com grande alegria que damos as boas-vindas ao Mãe Conecta, o seu aplicativo dedicado a tornar sua jornada na maternidade ainda mais especial. Estamos aqui para apoiá-la em cada passo dessa incrível jornada, oferecendo ferramentas intuitivas e informações valiosas para tornar sua gravidez uma experiência ainda mais maravilhosa.</p>

    <p class="lead"> Funcionalidades Efetuadas versão 1.0 para atender GS : </p>
    <p class="lead"> - Crud de Usuário(Mães) </p>
    <p class="lead"> - Crud de Procedimentos </p>
    <p class="lead"> - Funcionalidade Pesquisa por nome </p>
    <p class="lead"> - Funcionalidade Dashboard (Quantidade de Procedimentos) </p>

</div>



