
@{
    ViewData["Title"] = "Dash";
}

<h1>DashBoard Mãe Conecta</h1>

<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header align-content-center">Quantidades de Procedimentos</div>
    <div class="card-body">
        <h4 class="card-title align-content-center text-lg-center" >@ViewBag.quantidade</h4>
        
    </div>
</div>
